.git
.local
tilt_config.json

.venv
**/node_modules
**/dist
**/.vite
**/.tanstack

**/__pycache__
**/.pytest_cache

**/.env
**/.env.*
!**/.env.example

coverage*
frontend/playwright-report
frontend/test-results

app/helm

frontend/playwright-report-production/
frontend/test-results-production/
